/* Our default values set as CSS variables */
:root {
  --color-bg: #f2e6ff;
  --color-text-main: #000000;
  --color-primary: #5c0099;
  --font-family: "Gabarito";
  --font-family-header: "Gabarito";
}

/* import fonts - from fonts.google.com */

@font-face {
  font-family: Gabarito;
  font-weight: bold;
  src: url("https://cdn.glitch.global/555d132d-4e20-45ea-8590-74e506b8f321/Gabarito-Regular.ttf?v=1696022489241")
    format("opentype");
}

/* formatting images - help from ChatGPT */
.images {
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  height: 550px;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 100%;
  margin-top: 0;
}

/* format body text */
body {
  font-family: "Gabarito", sans-serif;
  background-color: var(--color-bg);
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  color: #5c0099;
  font-family: "Gabarito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 105%;
  margin-top: 0;
  margin-bottom: 10px;
}

/* button - help from ChatGPT */
.centered-button {
  font-family: "Gabarito", sans-serif;
  font-size: 100%;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid #000000;
  border-radius: 4px;
  transition: 500ms;
  cursor: pointer;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--color-primary);
  padding: 10px;
  margin-bottom: 0;
}

/* subheader */
h2 {
  color: #7700b3;
}

/* navigation bar - help from ChatGPT */
.navbar {
  text-align: center;
}

.project-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tour-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tour-item {
    display: inline-block;
    margin: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.project-item {
    display: inline-block;
    margin: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.project-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    aspect-ratio: 1;
    border: 2px solid var(--color-primary);
}

.navbar-bottom {
    color: var(--color-primary);
    text-align: center;
}

.description {
    margin-top: 5px;
    color: var(--color-text-main);
    font-size: 14px;
}

.project-link {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: var(--color-primary);
}

.project-link:hover {
    text-decoration: underline black;
    font-weight: bold;
    color: #000000;
}

nav {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

nav ul {
  list-style-type: none;
  padding: none;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
  padding: 20px 30px;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-primary);
  display: block;
}

nav ul li a:hover {
  color: black;
  text-decoration: underline black;
  background-color: var(--color-bg);
}

/* format contact info */
.contact-info {
  color: var(--color-primary);
}
